* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


body {
    padding: 32px;
    color: white;
    background-color: #17171C;
    display: flex;
    justify-content: center;
}

.titulo-sep{
    color: #6C3BED;
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    height: 124px;
    width: 124px;
    border-radius: 50%;
    margin-bottom: 32px;    

    transition: transform .2s;
    position: relative;
}

header img:hover {
    transform: scale(1.2);

}

header p {
    font-size: 120%;
    color: #c5c2da;
    margin-bottom: 60px;
}


header p:hover {
    color: #947edf;

}

header a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

section ul {
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.patrocinador {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    padding-bottom: 100px;
}


section ul h2 {
    font-size: 150%;
    color: white;
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    
    transition: transform .2s;
    position: relative;

}

section ul span {
    font-size: 90%;
    color: #6b6480;
    margin-top: 0px;
    font-weight: lighter;

    transition: transform .5s;
    position: relative;
}
section ul span:hover{
    color: #947edf;
}

section ul h2:hover{
    transform: scale(1.2);
}

section ul li:hover{
    transform: scale(1.2);
}

section ul li {
    background-color: blue;
        width: 20rem;
        height: 6rem;
        max-width: 40rem;
        min-height: 10px;
    border-radius: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: transform .2s;
}

section ul li svg {
    width: 40px;
    height: 40px;
    max-width: 40rem;
    min-height: 50px;
}

span {
    max-width: 80%;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
}

span.new {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    border-radius: .2rem;
    background-color: white;
    z-index: 1;
    padding: .2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.uteis{
    color: white;
}

.codeby{
    margin-top: 100px;
    font-size: 20px
}

.codebyp {
    margin-top: 0px;
    font-size: 12px;
}

@media screen and (max-width: 1125px) {
    section ul {
        gap: 0.5rem;
        grid-template-columns: repeat(2, 2fr);
    }
}   

@media screen and (max-width: 767px) { /* ou 767px */
    section ul li {
        width: 15rem;
        max-width: 40rem;
        height: 90px;
    }

    section ul {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 535px) { /* ou 767px */
    body {
        font-size: 14px;
    }
    
    span {
        line-height: 18px;
    }

    section ul li {
        width: 10rem;
        max-width: 40rem;
        height: 90px;
    }

    section ul {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    span.new {
        top: -0.8rem;
        right: 1rem;
        font-size: 0.8rem;
    }
    .codeby{
        font-size: 14px;
    }
    .codebyp{
        font-size: 10px;
    }
}

@media screen and (max-width: 350) {
    section ul {
        grid-template-columns: repeat(1, 1fr);
    }
    section ul li {
        width: 15rem;
        max-width: 40rem;
        min-height: 100px;
    }
}

.svg-white{
    width: 30px;
    height: 30px;
    object-fit: fill;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}   
